---
title: Monitoring Instance Usage
owner: Apps Manager
---

<strong><%= modified_date %></strong>

This topic describes how to retrieve app and service instance usage information. You can access the data using Apps Manager or by calling the Apps Man API from the cf CLI.

## <a id='apps-man'></a>Monitoring Instance Usage from Apps Manager ##

There are two ways to monitor app and service instance usage from Apps Manager. The Accounting Report provides a summarized report, and the Usage Report provides a more detailed view of the data. 

To access these reports you must be [logged into the Apps Manager](../customizing/console-login.html).

### <a id="accounting-report"></a>Accounting Report

The Accounting Report displays instance usage information for all orgs in your [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment except the <strong>system</strong> org. The Report provides a high-level overview of your usage by displaying your monthly count of app instances. 

Select **Accounting Report** from the left navigation of Apps Manager. View the average and maximum app instances in use per month under **App Instance Statistics**. The maximum is the largest number of app instances in use at any one time. The Accounting Report calculates these values from the `start`, `stop`, and `scale` app usage events in Cloud Controller.

<%= image_tag("accounting-report.png") %>

### <a id="usage-report"></a>Usage Report

The Usage Report provides a more granular view of your usage by detailing app memory usage and service instance usage information for all spaces in a particular org, including the **system** org.

From the **system** org, click **Usage Report**.

<%= image_tag("usage-report-link.png") %>

The top of the Usage Report displays total app memory usage and service instance usage by all spaces in your org.

<%= image_tag("usage-report.png") %>

**Spaces Details** breaks down your app memory usage and service instance usage by spaces.

<%= image_tag("service-details.png") %>

Click the name of an app to view its **Configuration History**.

<%= image_tag("app-usage-service.png") %>

## <a id='cf-cli'></a>Monitoring App and Service Usages from the cf CLI ##

This section describes how to use the cf CLI to retrieve information about your app and service instances via the Cloud Controller and Usage Service APIs. For each API call, you use the `cf curl` command to query an endpoint consisting of `/v2/` followed by a query string. For example, to call the `apps` function, which returns information about your running apps, you run the command `cf curl /v2/apps`.

Before you can retrieve any app or service information, you need to target the Cloud Controller and log in, as follows:

1. Target the endpoint of your Cloud Controller.
<pre class="terminal">$ cf api api.YOUR-SYSTEM-DOMAIN</pre>

1. Log in with your credentials.
<pre class="terminal">
$ cf login
API endpoint:  api.YOUR-SYSTEM-DOMAIN
Email: user<span>@</span>domain.com
Password:
Authenticating...
OK
...
Targeted org  YOUR-ORG
Targeted space  development
 API endpoint:    https<span>://ap</span>i.YOUR-SYSTEM-DOMAIN (API version:  2.52.0)
 User:            us<span>er@do</span>main.com
 Org:             YOUR-ORG
 Space:           development
</pre>

### Retrieve Apps Information

1. The `apps` endpoint retrieves information about all of your apps.
<pre class="terminal">$ cf curl /v2/apps
{
   "total\_results": 2,
   "total\_pages": 1,
   "prev\_url": null,
   "next\_url": null,
   "resources": [
      {
         "metadata": {
            "guid": "acf2ce33-ee92-54TY-9adb-55a596a8dcba",
            "url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba",
            "created\_at": "2016-02-06T17:40:31Z",
            "updated\_at": "2016-02-06T18:09:17Z"
         },
         "entity": {
            "name": "YOUR-APP",
[...]
            "space\_url": "/v2/spaces/a0205ae0-a691-4667-92bc-0d0dd712b6d3",
            "stack\_url": "/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04",
            "routes\_url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba/routes",
            "events\_url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba/events",
            "service\_bindings\_url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba/service\_bindings",
	            "route\_mappings\_url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba/route\_mappings"
         }
      },
      {
         "metadata": {
            "guid": "79bb58cc-3737-43be-ac70-39a2843b5178",
            "url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178",
            "created\_at": "2016-02-15T23:25:47Z",
            "updated\_at": "2016-03-12T21:54:59Z"
         },
         "entity": {
            "name": "ANOTHER-APP",
[...]
            "space\_url": "/v2/spaces/a0205ae0-a691-4667-92bc-0d0dd712b6d3",
            "stack\_url": "/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04",
            "routes\_url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178/routes",
            "events\_url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178/events",
            "service\_bindings\_url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178/service\_bindings",
            "route\_mappings\_url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178/route\_mappings"
         }
      }
   ]
}
</pre>
The output of this command provides the URL endpoints for each app, under `metadata: url`. You can use these app-specific endpoints to retrieve more information about that app. In the example above the endpoints for the two apps are `/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba`, and `/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178`.

1. The `summary` endpoint under each app-specific url retrieves the instances and any bound services for that application.
<pre class="terminal">$ cf curl /v2/apps/acf2ce75-ee92-4bb6-9adb-55a596a8dcba/summary
{
   "guid": "acf2ce75-ee92-4bb6-9adb-55a596a8dcba",
   "name": "YOUR-APP",
   "routes": [
      {
         "guid": "7421b6af-75cb-4334-a862-bc5e1ababfe6",
         "host": "YOUR-APP",
         "path": "",
         "domain": {
            "guid": "fb6bd89f-2ed9-49d4-9ad1-97951a573135",
            "name": "YOUR-DOMAIN.io"
         }
      }
   ],
   "running\_instances": 5,
   "services": [
      {
         "guid": "b9cdr456-3c61-4f8a-a307-9b4ty836fb2e",
         "name": "YOUR-APP-db",
         "bound\_app\_count": 1,
         "last\_operation": {
            "type": "create",
            "state": "succeeded",
            "description": "",
            "updated\_at": null,
            "created\_at": "2016-02-05T04:58:46Z"
         },
         "dashboard\_url": "htt<span>ps://</span>cloudfoundry.appdirect.com/api/custom/cloudfoundry/v2/sso/start?serviceUuid=b5cASDF-3c61-4f8a-a307-9bf85j45fb2e",
         "service\_plan": {
            "guid": "fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
            "name": "turtle",
            "service": {
               "guid": "34dbc753-34ed-4cf1-9a87-a255dfca5339b",
               "label": "elephantsql",
               "provider": null,
               "version": null
[...]
</pre>

1. Use the `app_usages` endpoint to return a report covering app usage within an organization or space during a period of time. Form the query as follows:
   * The Cloud Controller API endpoint
   * The string `/2/accounting_report/organizations`
   * Your organization GUID. This is the identifier string that follows "organizations" in the URL that your Apps Manager redirects to.
   * The string `app_usages`.
   * `start=` followed by your start date in YYYY-MM-DD format.
   * `end=` followed by your start date in YYYY-MM-DD format.
<pre class="terminal">$ cf curl /v2/apps/accounting\_report/organizations/8f88362f-547c-4158-808b-4605468387d5/app\_usages?start=2016-06-01&end=2016-06-13
{
   "organization\_guid": "<SOME\_ORGANIZATION\_GUID>",
   "period\_start": "2016-06-01T00:00:00Z",
   "period\_end": "2016-06-13T23:59:59Z",
   "app\_usages": [
      {
         "space\_guid": "<SOME_SPACE_GUID>,
         "space\_name": "<SOME_SPACE_NAME>",
         "app\_name": "<SOME\_APP\_NAME>",
         "app\_guid": "<SOME\_APP\_GUID>",
         "instance\_count": 6,
         "memory\_in\_mb\_per\_instance": 64,
         "duration\_in\_seconds": 76730
      }
   ]
}
</pre>

### Retrieve Services Information

1. The `service_instances?` endpoint retrieves details about both bound and unbound service instances:
<pre class="terminal">
$ cf curl /v2/service\_instances?
{
   "total\_results": 4,
   "total\_pages": 1,
   "prev\_url": null,
   "next\_url": null,
   "resources": [
      {
         "metadata": {
            "guid": "b9cdr456-3c61-4f8a-a307-9b4ty836fb2e",
            "url": "/v2/service\_instances/b9cdr456-3c61-4f8a-a307-9b4ty836fb2e",
            "created\_at": "2016-02-05T04:58:46Z",
            "updated\_at": null
         },
         "entity": {
            "name": "YOUR-BOUND-DB-INSTANCE",
            "credentials": {},
            "service\_plan\_guid": "fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
            "space\_guid": "a0205ae0-a691-4667-92bc-0d0dd712b6d3",
            "gateway\_data": null,
            "dashboard\_url": "htt<span>ps://cl</span>oudfoundry.appdirect.com/api/custom/cloudfoundry/v2/sso/start?serviceUuid=b9cdr456-3c61-4f8a-a307-9b4ty836fb2e",
            "type": "managed\_service\_instance",
            "last\_operation": {
               "type": "create",
               "state": "succeeded",
               "description": "",
               "updated\_at": null,
               "created\_at": "2016-02-05T04:58:46Z"
            },
            "tags": [],
            "space\_url": "/v2/spaces/a0205ae0-a691-4667-92bc-0d0dd712b6d3",
            "service\_plan\_url": "/v2/service\_plans/fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
            "service\_bindings\_url": "/v2/service\_instances/b9cdr456-3c61-4f8a-a307-9b4ty836fb2e/service\_bindings",
            "service\_keys\_url": "/v2/service\_instances/b9cdr456-3c61-4f8a-a307-9b4ty836fb2e/service\_keys",
            "routes\_url": "/v2/service\_instances/b9cdr456-3c61-4f8a-a307-9b4ty836fb2e/routes"
         }
      },
      {
         "metadata": {
            "guid": "78be3399-bdc7-4fbf-a1a4-6858a50d0ff3",
            "url": "/v2/service\_instances/78be3399-bdc7-4fbf-a1a4-6858a50d0ff3",
            "created\_at": "2016-02-15T23:45:30Z",
            "updated\_at": null
         },
         "entity": {
            "name": "YOUR-UNBOUND-DB-INSTANCE",
            "credentials": {},
            "service\_plan\_guid": "fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
            "space\_guid": "a0205ae0-a691-4667-92bc-0d0dd712b6d3",
            "gateway\_data": null,
            "dashboard\_url": "htt<span>ps://clo</span>udfoundry.appdirect.com/api/custom/cloudfoundry/v2/sso/start?serviceUuid=78be3399-bdc7-4fbf-a1a4-6858a50d0ff3",
            "type": "managed\_service\_instance",
            "last\_operation": {
               "type": "create",
               "state": "succeeded",
               "description": "",
               "updated\_at": null,
               "created\_at": "2016-02-15T23:45:30Z"
            },
            "tags": [],
            "space\_url": "/v2/spaces/a0205ae0-a691-4667-92bc-0d0dd712b6d3",
            "service\_plan\_url": "/v2/service\_plans/fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
            "service\_bindings\_url": "/v2/service\_instances/78be3399-bdc7-4fbf-a1a4-6858a50d0ff3/service\_bindings",
            "service\_keys\_url": "/v2/service\_instances/78be3399-bdc7-4fbf-a1a4-6858a50d0ff3/service\_keys",
            "routes\_url": "/v2/service\_instances/78be3399-bdc7-4fbf-a1a4-6858a50d0ff3/routes"
         }
      },
   ]
}
</pre>



