---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Configuring Authentication and Enterprise SSO for PAS
owner: Identity
---

This topic describes <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) authentication and single sign-on configuration with Lightweight Directory Access Protocol (LDAP) and Security Assertion Markup Language (SAML).


## <a id='overview'></a> Overview

Connecting <%= vars.app_runtime_abbr %> to either the LDAP or SAML external user store allows the User Account and Authentication (UAA) server to delegate authentication to existing enterprise user stores.

If your enterprise user store is exposed as a SAML or LDAP identity provider (IDP) for single sign-on (SSO), you can configure SSO to allow users to access Apps Manager and the Cloud Foundry Command Line Interface (cf CLI) without creating a new account or, if using SAML, without re-entering credentials.

For information about managing user identity and pre-provisioning user roles with SAML or LDAP, see [Adding Existing SAML or LDAP Users to an <%= vars.platform_name %> Deployment](external-user-management.html).

For an explanation of the process used by the UAA server when it attempts to authenticate a user through LDAP, see [Configuring LDAP Integration with <%= vars.platform_name %>](https://community.pivotal.io/s/article/Configuring-LDAP-Integration-with-Pivotal-Cloud-Foundry) in the Pivotal Knowledge Base.

<p class='note'><strong>Note:</strong> When integrating with an external IDP, such as LDAP, authentication within the UAA becomes chained. An authentication attempt with a user's credentials is first attempted against the UAA user store before the external provider, LDAP. For more information, see <a href="https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-LDAP.md#chained-authentication">Chained Authentication</a> in the <em>User Account and Authentication LDAP Integration</em> documentation on GitHub.</p>

Follow one of the procedures below to configure your deployment with SAML or LDAP.


## <a id="configure-saml"></a> Configure <%= vars.app_runtime_abbr %> to Use a SAML Identity Provider

In SAML terminology, the SAML protocol communicates user data between an IDP and a service provider (SP).

To connect <%= vars.app_runtime_abbr %> with SAML, follow both of these procedures:

* [Configure <%= vars.app_runtime_abbr %> as a Service Provider for SAML](#configure-pcf-for-saml)

* [Configure SAML as an Identity Provider for <%= vars.app_runtime_abbr %>](#configure-saml-for-pcf)

### <a id="configure-pcf-for-saml"></a> Configure <%= vars.app_runtime_abbr %> as a Service Provider for SAML

To configure <%= vars.app_runtime_abbr %> to use a SAML IDP:

1. Navigate to the <%= vars.ops_manager_full %> Installation Dashboard.

1. Click the <%= vars.app_runtime_abbr %> tile.

1. Select **Domains**.

1. Record your system domain.
    <%= image_tag("new-domains.png") %>

1. Select **Authentication and Enterprise SSO**.

1. Select **SAML Identity Provider**.
    <%= image_tag("sso-ert.png") %>

1. Set the **Provider Name**. This is a unique name you create for the IDP. This name can include only alphanumeric characters, `+`, `_`, and `-`. You should not change this name after deployment because all external users use it to link to the provider.

1. Enter a **Display Name**. Your provider display name appears as a link on your <%= vars.platform_name %> login page. You can access this link at `https://login.SYSTEM-DOMAIN`, where `SYSTEM-DOMAIN` is the system domain you recorded from the **Domains** pane.
    <%= image_tag("login-page.png") %>

1. Retrieve the metadata from your IDP and copy it into either the **Provider Metadata** or the **Provider Metadata URL** fields, depending on whether your IDP exposes a metadata URL or not. For more information, see [Configure SAML as an Identity Provider for <%= vars.app_runtime_abbr %>](#configure-saml-for-pcf). Pivotal recommends that you use the provider metadata URL rather than provider metadata because the metadata can change. You can do this in either of the following ways:
    * If your IDP exposes a metadata URL, provide the metadata URL.
    * Download your IDP metadata and paste this XML into the **Provider Metadata** field.
    <p class='note'><strong>Note:</strong> You only need to select one of the above configurations. If you configure both, your IDP defaults to the <strong>Provider Metadata URL</strong>.</p>
    <p class="note"><strong>Note:</strong> For information about onboarding SAML users and mapping them to <%= vars.app_runtime_abbr %> user roles, see <a href="external-user-management.html">Adding Existing SAML or LDAP Users to an <%= vars.platform_name %> Deployment</a>.</p>

1. Select the **Name ID Format** for your SAML IDP. This translates to `username` in <%= vars.app_runtime_abbr %>. The default is `Email Address`.

1. For **Email Domain(s)**, enter a comma-separated list of the email domains for external users who are to receive invitations to Apps Manager.

1. For **First Name Attribute** and **Last Name Attribute**, enter the attribute names in your SAML database that correspond to the first and last names in each user record. For example, `first_name` and `last_name`. This field is case-sensitive.

1. For **Email Attribute**, enter the attribute name in your SAML assertion that corresponds to the email address in each user record. For example, `EmailID`. This field is case-sensitive.

1. For **External Groups Attribute**, enter the attribute name in your SAML database that defines the groups that a user belongs to. For example, `group_memberships`. To map the groups from the SAML assertion to admin roles in <%= vars.app_runtime_abbr %>, see [Grant Admin Permissions to an External Group (SAML or LDAP)](../uaa/uaa-user-management.html#external-group) in _Creating and Managing Users with the UAA CLI (UAAC)_. This field is case-sensitive.

1. By default, all SAML authentication requests from <%= vars.app_runtime_abbr %> are signed. To change this, disable the **Sign Authentication Requests** checkbox and configure your IDP to verify SAML authentication requests.

1. To validate the signature for the incoming SAML assertions, enable the **Required Signed Assertions** checkbox and configure your IDP to send signed SAML assertions.

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.

    <%=image_tag("uaa/apply-changes.png")%>

### <a id="configure-saml-for-pcf"></a> Configure SAML as an Identity Provider for <%= vars.app_runtime_abbr %>

To configure a SAML IDP to designate <%= vars.app_runtime_abbr %> as an SP:

1. Download the SP metadata from `https://login.SYSTEM-DOMAIN/saml/metadata`, where `SYSTEM-DOMAIN` is the system domain you recorded from the **Domains** pane. For configuration instructions, see the documentation from your IDP.

1. See the table below for information about certain industry-standard IDPs and how to integrate them with <%= vars.app_runtime_abbr %>:
<table border="1">
  <tr>
    <th>Solution Name</th>
    <th>Integration Guide</th>
  </tr>
  <tr>
    <td><a href='http://www.ca.com/us/securecenter/ca-single-sign-on.aspx'>CA Single Sign-On aka CA SiteMinder</a></td>
    <td><a href="ca-sso-config.html">Configuring CA as an Identity Provider</a></td>
  </tr>
  <tr>
    <td><a href='https://www.pingidentity.com/en/products/pingfederate.html'>Ping Federate</a></td>
    <td><a href="ping-federate-sso-configuration.html">Configuring PingFederate as an Identity Provider</a></td>
  </tr>
  <tr>
    <td><a href='https://technet.microsoft.com/en-us/windowsserver/dd448613.aspx'>Active Directory Federation Services (AD FS)</a></td>
    <td><a href="adfs-sso-configuration.html">Configuring AD FS as an Identity Provide</a></td>
  </tr>
</table>

<p class="note"><strong>Note:</strong> Some IDPs allow uploads of SP metadata. Other providers require you to manually enter the SP metadata into a form. If your IDP requires manual entry but is not listed above, see <a href="ca-sso-config.html">Configuring CA as an Identity Provider</a>.</p>


## <a id="configure-ldap"></a> Configure LDAP as an Identity Provider for <%= vars.app_runtime_abbr %>

To integrate the UAA with one or more LDAP servers:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the <%= vars.app_runtime_abbr %> tile.

1. Select **Authentication and Enterprise SSO**.

    <%=image_tag("uaa/ldap-config.png")%>

1. Under **Configure your UAA**, select **LDAP Server**.

1. For **Server URL**, enter the URL that point your LDAP server. For multiple LDAP servers, enter a space-separated list. Each URL must include one of the following protocols:
    * `ldap://`: This specifies that the LDAP server uses an unencrypted connection.
    * `ldaps://`: This specifies that the LDAP server uses SSL for an encrypted connection and requires that the LDAP server holds a trusted certificate or that you import a trusted certificate to the JVM truststore.

1. For **LDAP Credentials**, enter the LDAP distinguished name (DN) and password for binding to the LDAP server. For example, `cn=administrator,ou=Users,dc=example,dc=com`.
    <p class="note"><strong>Note:</strong> Pivotal recommends that you provide LDAP credentials that grant read-only permissions on the LDAP search base and the LDAP group search base. Additionally, if the bind user belongs to a different search base, you must use the full DN.</p>
    <p class="note warning"><strong>Warning:</strong> Pivotal recommends recommends against reusing LDAP service accounts across environments. LDAP service accounts should not be subject to manual lockouts, such as lockouts that result from users utilizing the same account. Also, LDAP service accounts should not be subject to automated deletions, since disruption to these service accounts could prevent user logins.</p>

1. For **User Search Base**, enter the location in the LDAP directory tree from which any LDAP user search begins. The typical LDAP search base matches your domain name.
<br>
<br>
For example, a domain named "cloud.example.com" typically uses the following LDAP user search base: `ou=Users,dc=example,dc=com`

1. For **User Search Filter**, enter a string that defines LDAP user search criteria. These search criteria allow LDAP to perform more effective and efficient searches. For example, the standard LDAP search filter `cn=Smith` returns all objects with a common name equal to `Smith`.
<br>
<br>
In the LDAP search filter string that you use to configure <%= vars.app_runtime_abbr %>, use `{0}` instead of the username. For example, use `cn={0}` to return all LDAP objects with the same common name as the username.
<br>
<br>
In addition to `cn`, other attributes commonly searched for and returned are `mail`, `uid` and, in the case of Active Directory, `sAMAccountName`.
    <p class="note"><strong>Note:</strong> For instructions for testing and troubleshooting your LDAP search filters, see <a href="https://community.pivotal.io/s/article/Configuring-LDAP-Integration-with-Pivotal-Cloud-Foundry">Configuring LDAP Integration with Pivotal Cloud Foundry</a> in the Pivotal Knowledge Base.</p>

1. For **Group search base**, enter the location in the LDAP directory tree from which the LDAP group search begins.
<br>
<br>
For example, a domain named "cloud.example.com" typically uses the following LDAP group search base: `ou=Groups,dc=example,dc=com`
<br>
<br>
This is required if you are mapping LDAP groups to an admin role. To map the groups under this search base to admin roles in <%= vars.app_runtime_abbr %>, see [Grant Admin Permissions to an External Group (SAML or LDAP)](../uaa/uaa-user-management.html#external-group) in _Creating and Managing Users with the UAA CLI (UAAC)_.
    <p class="note"><strong>Note:</strong> To onboard individual LDAP users and map them to <%= vars.app_runtime_abbr %> roles, see <a href="../opsguide/external-user-management.html">Adding Existing SAML or LDAP Users to a <%= vars.platform_name %> Deployment</a>.</p>

1. For **Group Search Filter**, enter a string that defines LDAP group search criteria. The standard value is `member={0}`. This is required if you are mapping LDAP groups to an admin role.

1. For **Server SSL Cert**, paste in the root certificate from your CA certificate or your self-signed certificate. This is required only for `ldaps://` URLs.

1. For **First Name Attribute** and **Last Name Attribute**, enter the attribute names in your LDAP directory that correspond to the first and last names in each user record. For example, `cn` and `sn`.

1. For **Email Attribute**, enter the attribute name in your LDAP directory that corresponds to the email address in each user record. For example, `mail`.

1. For **Email Domain(s)**, enter a comma-separated list of the email domains for external users who are to receive invitations to Apps Manager.

1. For **LDAP Referrals**, select how UAA handles LDAP server referrals out to other external user stores. UAA can:
    * **Automatically follow any referrals**.
    * **Ignore referrals and return partial result**.
    * **Throw exception for each referral and abort**.

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.
