---
title: Configuring CA as an Identity Provider
owner: Identity
---

This topic explains how to configure single sign-on (SSO) between CA and <%= vars.product_name_full %> (<%= vars.product_name %>).


## <a id='overview'></a> Overview

Partnership creation between CA and <%= vars.product_name %> involves the following steps:

1. Installing and configuring the prerequisites. For more information, see [Prerequisites](#prerequisites).

1. Configuring CA SSO as an identity provider (IDP). For more information, see [Configuring CA as the SAML Identity Provider for <%= vars.product_name %>](#identity-provider).

1. Configuring the service provider (SP). For more information, see [Configuring <%= vars.product_name %> as the SAML Service Provider for CA Single Sign-On](#service-provider).


## <a id='prerequisites'></a> Prerequisites

To configure SSO between CA and <%= vars.product_name %>, you must have:

* An installation of CA SSO v12.52 or later.

* Configured user store and session store.

* A signed certificate by a certificate authority (CA).

* A protected IDP URL with CA SSO by creating:
	* Authentication scheme
	* Domain
	* Realm
	* Rules and policy

* A <%= vars.product_name %> environment at https://console.SYSTEM-DOMAIN, where `SYSTEM-DOMAIN` is the system domain of your <%= vars.product_name %> installation.


## <a id='identity-provider'></a> Configuring CA as the SAML Identity Provider for <%= vars.product_name %>

To configure CA SSO as the SAML IDP for <%= vars.product_name %>:

1. Download the SP metadata.
	1. Navigate to `https://login.SYSTEM-DOMAIN/saml/metadata`, where `SYSTEM-DOMAIN` is the system domain of your <%= vars.product_name %> installation.
	1. Log in to CA SSO.
	1. Navigate to **Federation**.
	1. Select **Partnership Federation**
	1. In the **Actions** menu, select **Export Metadata**.
	1. Save the exported metadata in an XML file.

1. Follow the procedure in [Configure <%= vars.product_short %> as a Service Provider for SAML](auth-sso.html#configure-pcf-for-saml) in _Configuring Authentication and Enterprise SSO for <%= vars.product_short %>_ to set the IDP metadata on <%= vars.product_name %>.

1. Paste the contents of the XML file into the **Provider metadata** field.

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.


## <a id='service-provider'></a> Configuring <%= vars.product_name %> as the SAML Service Provider for CA Single Sign-On

This section explains how to configure <%= vars.product_name %> as the SAML SP for CA SSO.

### <a id='idp-sp-config'></a> Configure Identity Provider and Service Provider Entities

To configure IDP and SP entities in CA SSO:

1. Navigate to `https://login.SYSTEM-DOMAIN/`, where `SYSTEM-DOMAIN` is the system domain of your <%= vars.product_name %> installation.

1. Log in to CA SSO.

1. Navigate to **Federation**.

1. Click **Partnership Federation**.

1. Click **Entity**.

1. Click **Create Entity**.

1. To create a local entity, configure the fields with the following values:
	* **Entity Location:** Local
	* **Entity Type:** SAML2 IDP
	* **Entity ID:** Enter an ID for your local identity provider. For example, `https://ca-technologies.xxx.com`.
	* **Entity Name:** Create a name for your local identity provider.
	* **Base URL:** Enter the fully-qualified domain name for the host service CA SSO Federation Web Services.
	* **Signing Private Key Alias:** Select the private key alias or import a private key.
	* **Signed Authentication Requests Required:** Select **No**.
	* **Supported NameID format:** Enter `urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress` and `urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified` to select both email address and unspecified as supported NameID formats.

1. To create a remote entity:
	1. Click **Import Metadata Button**.
	1. Download the SP metadata from https://login.SYSTEM-DOMAIN/saml/metadata, where `SYSTEM-DOMAIN` is the system domain of your <%= vars.product_name %> installation.
	1. Save the SP metadata to an XML file.
	1. Browse and select the saved XML metadata you downloaded in the previous step.
	1. Provide a name for the **Remote Service Provider Entity**.
	1. Provide an alias for the **Signing Certificate** imported from the metadata.
	<p class="note"><strong>Note:</strong> <%= vars.product_name %> signs the outgoing SAML authentication requests.</p>
	1. Click **Save**.

### <a id='ca-sso-pcf-config'></a> Configure Partnership Between CA SSO and <%= vars.product_name %>

To configure a partnership between CA SSO and <%= vars.product_name %>:

1. Navigate to `https://login.SYSTEM-DOMAIN/`, where `SYSTEM-DOMAIN` is the system domain of your <%= vars.product_name %> installation.

1. Log in to CA SSO.

1. Navigate to **Federation**.

1. Click **Partnership Federation**.

1. Click **Create Partnership**.

1. To configure the partnership, configure the fields with the following values:
	* **Add Partnership Name:** Enter a name for your partnership.
	* (optional) **Description:** Enter a relevant description for your partnership.
	* **Local IPD ID:** Enter the Local Service Provider ID you created in [Configure Identity Provider and Service Provider Entities](#idp-sp-config).
	* **Remote SP ID:** Enter the Remote SP ID you created in [Configure Identity Provider and Service Provider Entities](#idp-sp-config).
	* **Base URL:** This field will be pre-populated.
	* **Skew Time:** Enter any skew time required by your environment.
	* **User Directories and Search Order:** Select the required directories in the required search order.

1. Click **Next**.

1. On the Federation Users page, accept the default values.

1. Click **Next**.

1. To complete the **Name ID Format** section:
	1. Select **Email Address** from the **Name ID Format** dropdown.
	1. Select **User Attribute** from the **Name ID Type** dropdown.
	<p class="note"><strong>Note:</strong> <%= vars.product_name %> does not support processing SAML Assertion Attributes at this time. You can skip filling out the <strong>Assertion Attributes</strong> fields.</p>

1. Click **Next**.

1. To complete the **SSO and SLO** section:
	1. Enter the **Authentication URL** that is protected by CA SSO under prerequisites.
	1. For **SSO Binding**, click **HTTP-POST**.
	1. In the **Audience** field, enter http://login.YOUR-SYSTEM-DOMAIN.
	<p class="note"><strong>Note:</strong> The <strong>Audience</strong> field requires <code>http://</code> instead of <code>https://</code>. This is only a naming convention within the schema and does not determine connection security.</p>
	1. Select **Both IDP and DP Initiated** from the **Transactions Allowed** dropdown.
	1. The **Assertion Consumer Service URL** field is be pre-populated using information from the SP entity.

1. Click **Next**.

1. To complete the **Configure Signature and Encryption** section:
	1. In the **Signing Private Key Alias** dropdown, verify that the correct **Private Key Alias** is selected.
	1. Verify that the correct **Verification Certificate Alias** is selected in the **Verification Certificate Analysis** dropdown. This alias should be the same certificate created when you imported the remote SP entity ID in [Remote Service Provider Entity ID](#ca-sso).
	1. Select **Sign Both** from the **Post Signature Options** dropdown.
	<p class="note"><strong>Note:</strong> <%= vars.product_name %> does not support encryption options at this time.</p>
	1. Click **Finish**.

1. To activate the partnership, expand the **Action** dropdown for your partnership and click **Activate**.
