---
title: Deploying Service Mesh (Beta)
owner: CF Networking Service Mesh
---

This topic describes how to deploy service mesh for <%= vars.product_runtime %> (<%= vars.product_short %>).

For more information about service mesh, see [Service Mesh (Beta)](../adminguide/service-mesh.html).


## <a id="configuring-pas"></a> Deploy Service Mesh in <%= vars.product_short %>

To deploy service mesh:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the <%= vars.product_short %> tile.

1. Select **Networking - Service Mesh**.

1. Under **Service Mesh (Beta)**, select **Enable**. 

1. For **IP Addresses for Ingress Router**, depending on your IaaS:
	* **vSphere:** Enter a comma-separated string of static IPs for the Istio routers. You must also configure your load balancer with these IPs.
	* **Other:** Leave this field blank.

1. For **External Domain**, enter the domain for Istio routers. The default domain is `mesh.app-domain.com`.

1. For **Ingress Router TLS Keypairs**, complete these fields:
	* **Name:** Enter a name for the keypair.
	* **Certificate and Private Key for Istio Router**: Enter the private key and certificate for TLS handshakes with clients. These must be in PEM block format.
	<br>
	<br>
	To add multiple keypairs, click **Add**.

1. Click **Save**. 


## <a id="create-load-balancer"></a> Configure Load Balancer

To configure a load balancer for service mesh:

1. Create a load balancer with:
	* A static IP
	* Health check port 8002 and path `/healthcheck`
	* Firewall rules to allow:
		* HTTP on port 80
		* HTTP on port 8002
		* TLS on port 443

1. Navigate to your DNS provider and create a DNS name that resolves to the IP of the load balancer:
	* If you did not configure the **External Domain** field in the **Networking - Service Mesh (Beta)** pane of the <%= vars.product_short %> tile, create the DNS name using the default value of `*.mesh.APPS-DOMAIN`, where `APPS-DOMAIN` is the name of the external domain. 
	* If you configured the **External Domain** field in the **Networking - Service Mesh (Beta)** pane of the <%= vars.product_short %> tile, create the DNS name using the value you configured.


## <a id="resource-config"></a> Add Load Balancer to Resource Config

If your deployment is on an IaaS other than vSphere, you must add the load balancer you created to your Istio router in the **Resource Config** pane of the <%= vars.product_short %> tile. To add your load balancer:

1. Select **Resource Config**. 

1. In the **Load Balancer** column of the **istio-router** row, enter the name of the load balancer you created. 

1. Click **Apply Changes**.
