---
title: Using Docker Trusted Registries
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to configure your Docker Trusted Registries (DTR) with Pivotal Cloud Foundry (PCF).
To use private registries, you must choose either to submit your root certificate authority (CA) certificate
or provide the IP address for your private DTR.

**Prerequisite**: Ensure that you have enabled Docker support in PCF with the `$ cf enable-feature-flag diego_docker` command, as described in the [Using Docker in Cloud Foundry](../concepts/docker.html) topic.

## <a id='ops-man'></a> Use a CA Certificate

If you provide your root CA certificate in the Ops Manager configuration, follow this procedure:

1. In the **PCF Ops Manager Installation Dashboard**, click the **Ops Manager Director** tile.

1. Click **Security**.

    <%= image_tag("images/docker-registry-ops-man.png") %>

1. In the **Trusted Certificates** field paste one or more root CA certificates.
The DTR does not use the CA certificate itself but uses a certificate that is signed by the CA certificate.

1. Click **Save**.

1. If you are:
  - Configuring Ops Manager Installation for the first time, return to your specific IAAS configuration to continue the installation process.
  - Modifying an existing Ops Manager installation, return to the **PCF Ops Manager Installation Dashboard** and click **Apply Changes**.

After configuration, BOSH propagates this CA certificate to all application containers in your deployment. You are then able to push and pull images from your DTRs.

## <a id='ert'></a> Use an IP Address Whitelist

If you choose not to provide a CA certificate, you must provide the IP address of your DTR.

<p class="note"><strong>Note</strong>: Using a whitelist skips SSL validation. If you want to enforce SSL validation, enter the IP address of the Docker registry in the No proxy field <a href='#proxy'>below</a>.


1. Navigate to the PCF Operations Manager **Installation Dashboard**.

1. Click the **Pivotal Elastic Runtime** tile, and navigate to the **Application Containers** tab.

	<%= image_tag("images/docker-registry-ert.png") %>

1. Select **Enable Custom Buildpacks** to enable custom-built application runtime buildpacks.

1. Select **Allow SSH access to app containers** to enable app containers to accept SSH connections. If you are using a load balancer instead of HAProxy, you must open port 2222 on your load balancer to enable SSH traffic. In order to open an SSH connection to an app, a user must have Space Developer privileges for that app's space. Operators can grant those privileges in Apps Manager or via the cf CLI.

1. For **Private Docker Insecure Registry Whitelist**, provide the hostname/IP address and port that point to your DTR. For example, enter `198.51.100.1:80` or `mydockerregistry.com:80`. Enter multiple entries in a comma-delimited sequence. SSL validation will be ignored for private Docker image registries secured with self-signed certificates at these locations.

1. Under **Docker Images Disk-Cleanup Scheduling on Cell VMs**, choose one of the following:
	* **Never Cleanup Cell Disk-space**
	* **Routinely Cleanup Cell Disk-space**
	* **Cleanup disk-space once threshold is reached**: If you choose this option, enter the amount of disk space the Cell must reach before disk cleanup initiates under **Threshold of Disk-Used (MB)**.

1. Click **Save**.

1. If you are:
	- Configuring Elastic Runtime for the first time, return to your specific IaaS configuration to continue the installation process.
	- Modifying an existing Elastic Runtime installation, return to the PCF Ops Manager Installation Dashboard and click **Apply Changes**.

After configuration, Elastic Runtime allows Docker images to come through the specified IP address without checking certificates.

## <a id='proxy'></a>Configure DTRs

Pivotal recommends that you use an HTTP or HTTPS proxy server if you have a private DTR.

1. On the Installation Dashboard, navigate to USERNAME > **Settings** > **Proxy Settings**.

     <%= image_tag("install-dash-settings.png") %>

2. On the **Update Proxy Settings** pane, do one of the following:
    + **Http proxy**: If you have a HTTP proxy server for your Docker hub or Docker Trusted Registry, enter its IP address.  
    + **Https proxy**: If you have a HTTPS proxy server for your Docker hub or Docker Trusted Registry, enter its IP address.  
    + **No proxy**: If you do not use a proxy server, enter the IP address for the Docker Trusted Registry. This field may already contain proxy settings for the BOSH director. Enter multiple IP addresses as a comma-separated list.

     <%= image_tag("update-proxy-settings.png") %>
