---
title: Identifying PAS Jobs Using vCenter
owner: RelEng
---



To effectively monitor, control, and manage the virtual machines making up your
Pivotal Application Service (PAS) deployment, you may need to identify which VM corresponds to a
particular job in PAS.
You can find the CID of a particular VM from [<%= vars.product_name %>](https://network.pivotal.io/products/pivotal-cf) Operations Manager by navigating to PAS **Status**.

If you have deployed PAS to VMware vSphere, you can also identify
which PAS job corresponds to which VM using the vCenter vSphere
client.

<p class="note"><strong>Note</strong>: The CID shown in Ops Manager is the name of the machine in vCenter.</p>

## <a id='id-jobs'></a>Identifying PAS Jobs Using vCenter ##

1. Launch the vSphere client and log in to the vCenter Server system.

1. Select the **Inventory > Hosts and Clusters** view.

    <%= image_tag("images/id/host-cluster.jpg") %>

1. Select the Resource Pool containing your PAS deployment.

    <%= image_tag("images/id/deployment.jpg") %>

1. Select the **Virtual Machines** tab.

    <%= image_tag("images/id/vm-tab.jpg") %>

1. Right-click the column label heading and check **job**.

    <%= image_tag("images/id/job.jpg") %>

1. The job column displays the PAS job associated with each virtual
machine.

    <%= image_tag("images/id/jobs.jpg") %>
