---
title: Identifying the Source Deployment of Metrics
owner: 
---

This topic describes operators can identify which runtime deployment the metrics in their <%= vars.product_name %> foundation are coming from. For example, an operator may want to know whether metrics are coming from Pivotal Application Service (PAS) or <%= vars.product_name %> Isolation Segment. 


## <a id="metrics-prefix"></a> Tile GUIDs

As the value for the `deployment` tag, metrics use `cf-` and then the GUID for your PAS tile. With a GUID, you can uniquely identify your metrics by tile. 


## <a id="human-friendly-metric-tags"></a> Human-Friendly Metadata

PAS and other runtime tiles tag metrics with additional metadata to help operators better parse the metrics coming from their different deployments. Also, downstream monitoring products, such as [<%= vars.product_name %> Healthwatch](https://docs.pivotal.io/pcf-healthwatch), use this metadata to display human-readable names. 

The tags are as follows:

* `product`: The value of this tag is always `Pivotal Application Service` for the PAS tile. The tags for other products are: `<%= vars.product_name %> Isolation Segment`, `<%= vars.product_name %> Small Footprint`, `Pivotal Application Service for Windows 2012R2`, and `Pivotal Application Service for Windows`.

* `system_domain`: The value of this tag corresponds to what you set in the **System domain** field in the **Domains** pane of a given tile. 

* `placement_tag`: The value of this tag is always `null` for PAS. However, for PAS for Windows and <%= vars.product_name %> Isolation Segment tiles, you can configure this value using the **Segment name** field in the **App Containers** pane. An operator can display capacity and other relevant metrics using the `placement_tag` name. This makes it easier to reason about the importance of a given segment when issues arise.

These tags are properties of the Metron agent running on each VM in a deployment. 