---
breadcrumb: <%= vars.platform_name %> Documentation
title: Pivotal Platform Operator Guide
owner: <%= vars.platform_name %> Documentation
---

<% current_page.data.title = vars.platform_name + " Operator Guide" %>

This guide shows you how to run a <%= vars.platform_name %> platform.


## <a id='overview'></a> Overview

Running a <%= vars.platform_name %> platform may include but is not limited to:

* Configuring <%= vars.platform_name %> capabilities

* Integrating <%= vars.platform_name %> with external systems

* Updating <%= vars.platform_name %> and installed products

* Monitoring <%= vars.platform_name %> health and performance

* Adjusting <%= vars.platform_name %> resources and options to fix health or performance issues

* Diagnosing and troubleshooting <%= vars.platform_name %> problems

* Managing <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) users, resources, and infrastructure

* Installing software services and otherwise enabling <%= vars.platform_name %> developers

* Maintaining <%= vars.platform_name %>

* Keeping <%= vars.platform_name %> secure

If you do these things, you are a <%= vars.platform_name %> **operator**, and the contents of this guide are for you.


## <a id='contents'></a> Contents

* [Day 2 Configurations](../customizing/day2.html): Setting up internal operations and external integrations for <%= vars.platform_name %>.

* [Ongoing Operations](ongoing.html): Routine procedures for running and growing the platform, including:
  * <%= vars.platform_name %> Upgrades
  * IaaS changes
  * Monitoring, logging, and reporting
  * Platform tuning
  * Enabling developers
  * Backing up
  * Security

* [Managing <%= vars.app_runtime_abbr %> Runtimes](../adminguide/index.html): Procedures performed by people with administrator or manager roles in <%= vars.app_runtime_abbr %>, such as managing users, orgs, spaces, and service instances. Operators can perform these actions by logging in with admin credentials, which grants them the role of Org Manager across all <%= vars.app_runtime_abbr %> orgs. For more information, see [Logging In to Apps Manager](../customizing/console-login.html).

* [Using <%= vars.ops_manager %>](../customizing/ops-man.html): The <%= vars.ops_manager_full %> Installation Dashboard interface streamlines the installation, configuration, and upgrading of <%= vars.platform_name %> services and add-ons.

* [Using the Cloud Foundry Command Line Interface (cf CLI)](../cf-cli/index.html): Using the cf CLI to send commands to the Cloud Controller, the executive component of <%= vars.app_runtime_abbr %>.

* [Troubleshooting and Diagnostics](../customizing/troubleshooting-diagnostics.html): Tools and procedures for troubleshooting <%= vars.platform_name %>.
