---
breadcrumb: <%= vars.product_name_full %> Documentation
title: <%= vars.product_name %> Operator Guide
owner: <%= vars.product_name %> Documentation
---

##<a id='who'></a>For <%= vars.product_name %> Operators

This guide shows you how to run a <%= vars.product_name %> platform. This ongoing responsibility may include but is not limited to:

* Configuring <%= vars.product_name %> capabilities
* Integrating <%= vars.product_name %> with external systems
* Updating <%= vars.product_name %> and installed products
* Monitoring <%= vars.product_name %> health and performance
* Adjusting <%= vars.product_name %> resources and options to fix health or performance issues
* Diagnosing and troubleshooting <%= vars.product_name %> problems
* Managing Pivotal Application Service (PAS) users, resources, and infrastructure
* Installing software services and otherwise enabling <%= vars.product_name %> developers
* Maintaining <%= vars.product_name %>
* Keeping <%= vars.product_name %> secure

If you do these things, you are a <%= vars.product_name %> **operator**, and the contents of this guide are for you.

##<a id='contents'></a>Guide Contents

* <a href="/pivotalcf/customizing/day2.html">Day 2 Configurations</a> - Setting up internal operations and external integrations for <%= vars.product_name %>.

* <a href="/pivotalcf/opsguide/ongoing.html">Ongoing Operations</a> - Routine procedures for running and growing the platform, including:

  - <%= vars.product_name %> Upgrades
  - IaaS Changes
  - Monitoring, Logging, and Reporting
  - Platform Tuning
  - Enabling Developers
  - Backing Up
  - Security

* <a href="/pivotalcf/adminguide/index.html">Managing PAS Runtimes</a>: Procedures performed by people with administrator or manager roles in Pivotal Application Service (PAS), such as managing users, orgs, spaces, and service instances. Operators can perform these actions by [logging in with Admin credentials](../customizing/console-login.html), which grants them the role of Org Manager across all PAS orgs.

* <a href="/pivotalcf/customizing/ops-man.html">Using Ops Manager</a>: The Ops Manager dashboard interface streamlines the installation, configuration, and upgrading of <%= vars.product_name %> platform services and add-ons.

* <a href="/pivotalcf/cf-cli/index.html">Using the Cloud Foundry Command Line Interface (cf CLI)</a>: Using the cf CLI to send commands to the Cloud Controller, the executive component of PAS.

* <a href="/pivotalcf/customizing/troubleshooting-diagnostics.html">Troubleshooting and Diagnostics</a>: Tools and procedures for troubleshooting <%= vars.product_name %>.
