---
title: Ongoing Operations
owner: PCF Documentation
---

This topic describes how to perform routine operations on a running <%= vars.product_full %> platform.


## <a id='overview'></a> Overview

Ongoing operations are procedures that <%= vars.product_name %> operators routinely perform to keep the platform working as it should, or to change how it works if the platform needs to do something new or has a problem.

Examples include:

* Performing <%= vars.product_name %> upgrades
* Making changes to your IaaS and external components
* Monitoring platform health, checking logs and generating usage reports
* Tuning the platform eliminate bottlenecks or increase capacity
* Giving developers access to new software services, stacks, and app capabilities
* Backing up and restoring the platform

In addition to these tasks, <%= vars.product_name %> operators also routinely perform Day 2 configurations to configure or change platform features and integrations even well past Day 2. For more information, see [Day 2 Configurations](../customizing/day2.html).


## <a id='contents'></a> Contents

### <a id='upgrading'></a> Upgrading

* [Upgrading <%= vars.product_name %>](../customizing/upgrading-pcf.html)

* [Upgrading <%= vars.product_short %> and Other <%= vars.product_name %> Products](../customizing/upgrading-products.html)

* [cf push Availability During <%= vars.product_short %> Upgrades](../customizing/cfpush-availability-during-upgrade.html)

* [Upgrading <%= vars.ops_manager %> on Azure](../customizing/azure-om-upgrade.html)

* [Upgrading <%= vars.ops_manager %> on GCP](../customizing/gcp-om-upgrade.html)

* [Upgrade Load Example&#58; Pivotal Web Services](../opsguide/pws_upgrade_load.html)

### <a id='changes'></a> IaaS Changes

* [Migrating <%= vars.product_name %> to a New Datastore in vSphere](../refarch/vsphere/vsphere_migrate_datastore.html)

* [Upgrading vSphere without <%= vars.product_name %> Downtime](../refarch/vsphere/vsphere_upgrade.html)

* [Deleting <%= vars.product_name %> on AWS](../customizing/deleting-aws-install.html)

* [Deleting <%= vars.product_name %> on Azure](../customizing/deleting-azure-install.html)

* [Deleting <%= vars.product_name %> on GCP](../customizing/deleting-gcp-install.html)

### <a id='monitoring'></a> Monitoring, Logging, and Reporting

* [Logs and Metrics Sources](../loggregator/data-sources.html)

* [Monitoring <%= vars.product_name %>](../monitoring/index.html)

	* [Key Performance Indicators](../monitoring/kpi.html)

	* [Key Capacity Scaling Indicators](../monitoring/key-cap-scaling.html)

	* [Selecting and Configuring a Monitoring System](../monitoring/metrics.html)

* [Loggregator Architecture](../loggregator/architecture.html)

* [Loggregator Guide for <%= vars.product_short %> Operators](../loggregator/log-ops-guide.html)

* [Security Event Logging](../loggregator/cc-uaa-logging.html)

* [Reporting Instance Usage with Apps Manager](../opsguide/accounting-report-apps-man.html)

* [Reporting App, Task, and Service Instance Usage](../opsguide/accounting-report.html)

* [Monitoring <%= vars.product_name %> VMs from <%= vars.ops_manager %>](../customizing/monitoring.html)

* [Monitoring <%= vars.product_name %> VMs from vSphere](../customizing/monitoring-vsphere.html)

### <a id='tuning'></a> Platform Tuning

* [Scaling <%= vars.product_short %>](./scaling-ert-components.html)

* [Managing Internal Databases](../opsguide/internal-databases.html)

* [Gorouter Back End Keep-Alive Connections](../adminguide/routing-keepalive.html)

* [High Availability in <%= vars.product_short %>](../concepts/high-availability.html)

### <a id='devs'></a> Enabling Developers

* [Adding and Deleting Products](../customizing/add-delete.html)

* [Managing Isolation Segments](../adminguide/isolation-segments.html)

* [Routing for Isolation Segments](../adminguide/routing-is.html)

* [Enabling Volume Services](../opsguide/enable-vol-services.html)

* [Configuring Container-to-Container Networking](../devguide/deploy-apps/cf-networking.html)

* [Switching App Domains](../opsguide/switching-domains.html)

### <a id='backups'></a> Backing Up

* [Disaster Recovery in <%= vars.product_name %>](../customizing/backup-restore/disaster-recovery.html)

* [Backing Up and Restoring <%= vars.product_name %>](../customizing/backup-restore/index.html)

* [Backing Up <%= vars.product_name %> with BBR](../customizing/backup-restore/backup-pcf-bbr.html)

* [<%= vars.product_short %> Component Availability During Backup](../customizing/backup-restore/component-backups.html)

* [Restoring <%= vars.product_name %> from Backup with BBR](../customizing/backup-restore/restore-pcf-bbr.html)

* [Troubleshooting BBR](../customizing/backup-restore/troubleshooting-bbr.html)

* [BOSH Backup and Restore (Open-Source Documentation)](http://docs.cloudfoundry.org/bbr/index.html)

### <a id='security'></a> Security

* [Retrieving Credentials from Your Deployment](../customizing/credentials.html)

* [Restricting App Access to Internal <%= vars.product_name %> Components](./app-sec-groups.html)

* [Providing a Certificate for Your TLS Termination Point](../opsguide/security_config.html)

* [Overview of Certificate Rotation](../security/pcf-infrastructure/api-cert-rotation.html)

* [Rotating Runtime CredHub Encryption Keys](../opsguide/credential-rotation.html)
