---
title: Scaling PAS
owner: RelEng
---

This topic describes how to scale Pivotal Application Service (PAS) for different deployment scenarios. To increase the capacity and availability of the <%= vars.product_name %> platform, and to decrease the chances of downtime, you can scale a deployment up using the instructions below.

If you want to make a <%= vars.product_name %> configuration highly available, see [High Availability in Cloud Foundry](./../concepts/high-availability.html).

<p class="note"><strong>Note:</strong> In <%= vars.product_name %> v1.11 and later, PAS defaults to a highly available resource configuration.</p>


## <a id='scalingtable'></a> Scaling Recommendations

<%= partial vars.scale_table %>


## <a id='scaleup'></a> Scaling Up PAS

To scale up PAS instances:

1. Navigate to the <%= vars.product_name %> Operations Manager Installation Dashboard.

1. Click the PAS tile.

1. Select **Resource Config**.
<%= image_tag("images/scaling-ert.png") %>

1. To scale your deployment horizontally, increase the number of **Instances** of a job. For guidance on the number of job instances required to ensure high availability, see [Scaling Recommendations](#scalingtable).
  <p class="note"><strong>Note:</strong> In <%= vars.product_name %> v1.12, you cannot scale the Autoscaler job to greater than one instance.</p>

1. To scale your deployment vertically, adjust the **Persistent Disk Type** and **VM Type** of a job to allocate more disk space and memory. If you choose **Automatic** from the dropdown, PAS uses the recommended amount of resources for the job.

1. Click **Save**.

1. Return to the **Installation Dashboard**, click **Review Pending Changes**, and click **Apply Changes**.


## <a id='scaledown'></a> Scaling Down PAS
 
If you are deploying a <%= vars.product_name %> configuration that does not need to be highly available, Pivotal recommends scaling down job instances to the minimum number required for a functional deployment.

To scale down your deployment: 

1. Navigate to the <%= vars.product_name %> Operations Manager Installation Dashboard.

1. Click the PAS tile in the Installation Dashboard.

1. Select **Resource Config**.
<%= image_tag("images/scaling-ert.png") %>

1. In the **Resource Config** screen, decrease the number of **Instances** for each job. Choose the suggested values outlined in [Scaling Recommendations](#scalingtable) or in the [Scaling Recommendations for Specific Deployment Configurations](#deployscenarios).

1. Click **Save**.

1. Return to the **Installation Dashboard**, click **Review Pending Changes**, and click **Apply Changes**.

### <a id="diskscale"></a> Scaling Down Jobs with Persistent Disk

If you scale down or delete a job that uses persistent disk, PAS marks the disk as **orphaned**. Orphaned disks are not attached to any job, and PAS deletes them after five days. 

Use the BOSH CLI to list and recover orphaned disks. Follow the instructions in the [Prepare to Use the BOSH CLI](../customizing/trouble-advanced.html#prepare) section of the _Advanced Troubleshooting with the BOSH CLI_ topic to log in to the BOSH Director, and then follow the procedures in [Orphaned Disks](http://bosh.io/docs/persistent-disks.html#orphaned-disks) in the BOSH documentation.


## <a id="deployscenarios"></a> Scaling Recommendations for Specific Deployment Configurations
 
If you use one of the following configurations, choose the values in the corresponding table to scale instances for your particular deployment:

* [Deployments Using External Databases](#external-databases)
* [Deployments Using Internal MySQL](#internal-mysql)
* [Deployments Using an External Blobstore](#external-blobstore)
* [Deployments Using External Load Balancers](#external-lb)

### <a id='external-databases'></a> Deployments Using External Databases

If you use an external database, you can scale down the instance counts for internal MySQl jobs.

Select the following values in the Resource Config:

<table border="1" class="nice" >
      <tr>
        <th width=8%><strong>Job</strong></th>
        <th width=8%><strong>Instance Count</strong></th>
      </tr>
      <tr>
        <td>MySQL Server</td>
        <td>0</td>
      </tr>
      <tr>
        <td>MySQL Proxy</td>
        <td>0</td>
      </tr>
</table>

### <a id='internal-mysql'></a> Deployments Using Internal MySQL

If you use the internal MySQL database on a clean install, or on an upgrade from a configuration that previously used internal MySQL databases, you do not need to change the default values shown in the table below. 

If you need to change back to this configuration, choose the values shown below in the Resource Config.

<p class="note"><strong>Note:</strong> Changing back to this configuration deletes any data written to your other database option.</p>

<table border="1" class="nice" >
      <tr>
        <th width=8%><strong>Job</strong></th>
        <th width=8%><strong>Instance Count</strong></th>
      </tr>
      <tr>
        <td>MySQL Server</td>
        <td>3</td>
      </tr>
      <tr>
        <td>MySQL Proxy</td>
        <td>2</td>
      </tr>
</table>

<p class="note"><strong>Note:</strong> Apps that do not use MySQL for <%= vars.product_name %> are not affected by the scaling process when you redeploy PAS. In addition, redeploying PAS with the MySQL cluster means that the <%= vars.product_name %> API will not be available for a brief period of time. For example, you are not able to push apps or query their state during this time.</p>

<p class='note'><strong>Note:</strong> For MySQL high availability, you must configure an external load balancer. For more information about configuring a load balancer for Percona-based deployments, see the <a href="http://docs.pivotal.io/p-mysql/1-10/installing.html#load-balancer">Configure a Load Balancer</a> section of the <em>Installing MySQL for <%= vars.product_name %></em> topic.</p>

### <a id='external-blobstore'></a> Deployments Using an External Blobstore

If you use an external blobstore, choose the following value in the Resource Config:

<table border="1" class="nice" >
      <tr>
        <th width=8%><strong>Job</strong></th>
        <th width=8%><strong>Instance Count</strong></th>
      </tr>
      <tr>
        <td>File Storage</td>
        <td>0</td>
      </tr>
</table>

### <a id='external-lb'></a> Deployments Using External Load Balancers

If you use an external load balancer, choose the following values in the Resource Config:

<table border="1" class="nice" >
      <tr>
        <th width=8%><strong>Job</strong></th>
        <th width=8%><strong>Instance Count</strong></th>
      </tr>
      <tr>
        <td>HAProxy</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Router</td>
        <td>&ge; 1</td>
      </tr>
      <tr>
        <td>Diego Brain</td>
        <td>&ge; 1</td>
      </tr>
</table>

For more information about configuring load balancers in the Resource Config section of PAS, see [Configuring Load Balancing for PAS](../customizing/configure-lb.html).
